<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osaigbovo.udacity.displayjokes">

    <application>
        <activity
            android:name=".ui.DisplayJokesActivity"
            android:label="@string/title_activity_display_jokes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>